<h1>{{ user.firstName }} {{ user.lastName }} [{{ user.id }}]</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
    <li class="list-group-item"><strong>Phone: </strong>{{ user.phone }}</li>
</ul>
<br>
<a class="btn btn-primary" href="/">Back</a>
<form action="/users/delete/{{user.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="btn btn-danger float-right">
</form>